<div id="overlay">
    <div class="container-fluid" style="text-align:center">
        <div class="row row1 justify-content-center d-flex align-items-center">
            <mat-spinner id="spinner" class="spinner d-flex align-items-center"></mat-spinner> 
        </div>
    </div>
</div>

<!-- <particles class="particle" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
<div ng-init="tester()" class="container-fluid" style="text-align:center;background-color:#677985">
  <button id="modalOpenButton" type="button" class="btn btn-primary" style="display:none" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
  </button>
  <button type="button" class="btn btn-circle infobutton" data-toggle="modal" data-target="#exampleModalLong2"><i class="fa fa-info"></i>
  </button>
  <div class="logo">LOGO</div>
  <div class="container col-sm-12">
    <div class="row row1 justify-content-center d-flex align-items-center">
      <div class="col-sm-10 new" style="text-align:left">
        <div class="selectarea">
          <mat-radio-group>
              <mat-radio-button (click)="RBchange('eng')" value="1">English <i class="em em-flag-england"></i></mat-radio-button>
              <mat-radio-button (click)="RBchange('span')" value="2">Spanish <i class="em em-flag-ea"></i></mat-radio-button>
              <mat-radio-button (click)="RBchange('engspan')" value="3">Translate English <i class="em em-flag-england"></i> to Spanish <i class="em em-flag-ea"></i></mat-radio-button>
          </mat-radio-group>
          <button class="btnSubmit" (click)="submit()" mat-button>Click me!</button>
        </div>
          <div class="left new1 border-light rounded col-sm-12">
            <mat-form-field class="left col-sm-12">
             <textarea matInput style="resize: none;" placeholder={{TAMode}}  (keyup)="onKey($event)"></textarea>
            </mat-form-field>
        </div>
      </div>
      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-pronuns" id="exampleModalLongTitle">Pronunciations</h5>
        <button type="button" class="btn btn-circle class playSounds" (click)="speakFullSentence()"><i class="fa fa-volume-up"></i>
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center col-12">
        <div *ngFor="let item of arraypron; let i = index">
          <div class="pronunborder border rounded" (click)="divClicked(i)" [ngStyle]="{ 'background-color' : getColor(i) }">
            <div>
              {{arraypron[i]}} 
            </div>
            <div>
              {{arraynor[i]}}
            </div>
          </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg¸" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Frequenty asked Questions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>question area</h5>
        <p>answer area</p>
        <hr>
        <h5>question area</h5>
        <p>answer area.</p>
        <hr>
        <h5>question area</h5>
        <p>answer area</p>
        <hr>
        <h5>question area</h5>
        <p>answer area.</p>
        <hr>
        <h5>question area</h5>
        <p>answer area</p>
        <hr>
        <h5>question area</h5>
        <p>answer area.</p>
        <hr>
        <h5>question area</h5>
        <p>answer area</p>
        <hr>
        <h5>question area</h5>
        <p>answer area.</p>
        
        
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>
      <!-- <div class="col-sm-5 new" style="text-align:left">
        <div class="selectarea">
         <span class="pronun" >Pronunciation:</span>
        </div>
        <div id="pronunArea" class="left new1 border-light rounded col-sm-12">            
          <div id="pronunSpan" class="pronunSpan" style="visibility: hidden;">
            <span>{{this.translatedSpanish}}</span>
          </div>
          <div class="actualPronun">
            {{this.temp}}
          </div>
        </div>
      </div> -->
      
    </div>
  </div>
</div>

