@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Squada+One');
.navbar-brand{
    font-family: 'Raleway', sans-serif;
}

.mat-slide-toggle{
    font-family: 'Raleway', sans-serif;
}


.translator{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.474);
}

.phonetic{
    font-family: 'Squada', sans-serif;
    color: #083F5D;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.main-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    /* background-color: #f8f8f8; */

}

.toggleimg{
    height:20px;
}

.outputimg{
    height:75px;
}

.main-row {
    height: calc(100vh - 110px);
}

textarea {  /* position is inherited */
    left: 0; 
    top: 0; 
    right: 0;
    bottom: 100px;  /* Actually the height of select and input */
    width: 100%;
    height: 97%;

    border-radius: 8px;
    border: none;

    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.48);
    margin-top: 10px;

    padding: 25px;

    font-size: 20px;
    font-family: 'Raleway', sans-serif;

    resize: none;

}

.cringe {
    font-family: 'Raleway', sans-serif;
}

textarea:focus {
    outline: none;
}

.buttons-container {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1vh;
}

.modal {
    font-family: 'Raleway', sans-serif;
}

button:focus {outline:0;}

.flag-img {
    height: 55px;
}

.flag-img-btn, button {
    border:none;
    background: none;
}

.flag-img-txt {
    color: black;
}

.navbar {
    border-bottom: 1px solid #dddddd;
    background-color: #edeeef;
}

.sechead{
    font-size: 15px;
}

.intro{
    font-size: 14px;
}

.steps{
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 25px; 
}
.innersteps{
    padding-left: 20px;
}